- unless document.title.blank?
  %h3= document.title
- else
  %h3 [untitled]
- unless document.authors.blank?
  %p= document.authors
%p
  - unless document.journal.blank?
    %em><
      = "#{document.journal}, "
  - unless document.volume.blank?
    = t(:'search.cite.volume_abbr', :volume => document.volume) + ','
  - unless document.number.blank?
    = t(:'search.cite.number_abbr', :number => document.number)
  - unless document.year.blank?
    = "(#{document.year}),"
  - unless document.pages.blank?
    = t(:'search.cite.pages_abbr', :pages => document.pages)