- content_for :title do
  = t('.title')

- unless @datasets.count
  %ul{ 'data-role' => 'listview' }
    %li{ 'data-theme' => 'e' }= t('.no_datasets')
- else
  = form_tag add_dataset_path, :method => :get do
    = hidden_field_tag :shasum, @document.shasum
    = select_tag :id, options_from_collection_for_select(@datasets, 'to_param', 'name')
    = submit_tag t('.submit'), 'data-icon' => 'plus'

= link_to t('.cancel'), search_show_path(@document), 'data-rel' => 'back', 'data-role' => 'button', 'data-icon' => 'arrow-l'
