%div.leftcolumn
  %ul{ 'data-role' => 'listview', 'data-theme' => 'd', 'data-divider-theme' => 'b' }
    %li{ 'data-role' => 'list-divider' }= num_results_string
    %li.search
      = form_tag(search_path, :method => :get, 'data-transition' => 'none') do
        = search_field_tag :q, (params[:precise] ? t('.adv_search_placeholder') : params[:q]), :placeholder => t('.placeholder')
    - @documents.each do |d|
      %li.searchlist= link_to document_bibliography_entry(d), search_show_path(:id => d.shasum)
  
  %div.verticalpad
  %p.pagination= render_pagination
  %div.verticalpad

%div.rightcolumn
  %ul{ 'data-role' => 'listview', 'data-theme' => 'd', 'data-divider-theme' => 'b' }
    %li.toolsheader{ 'data-role' => 'list-divider' }= t('.tools')
  %div.verticalpad
  %ul.toolslist{ 'data-role' => 'listview', 'data-theme' => 'd', 'data-divider-theme' => 'c' }
    - if session[:user].nil?
      %li{ 'data-theme' => 'e' }= link_to t('.login_prompt'), user_path
    - else
      %li{ 'data-icon' => 'plus' }= link_to t('.create_dataset'), new_dataset_path(:q => @solr_q, :qt => @solr_qt, :fq => @solr_fq), 'data-rel' => 'dialog'
    %li{ 'data-icon' => 'search' }= link_to t('.advanced_search'), search_advanced_path
  %div.verticalpad

  %ul{ 'data-role' => 'listview', 'data-theme' => 'd', 'data-divider-theme' => 'b' }
    %li.filterheader{ 'data-role' => 'list-divider' }= t('.filters')
  %div.verticalpad
  %ul.facetlist{ 'data-role' => 'listview', 'data-theme' => 'd', 'data-divider-theme' => 'c' }
    = facet_link_list
