%div.leftcolumn
  %ul{ 'data-role' => 'listview', 'data-theme' => 'd', 'data-divider-theme' => 'b' }
    %li{ 'data-role' => 'list-divider' }= num_results_string
    %li.search
      = form_tag(search_path, :method => :get, 'data-transition' => 'none') do
        = search_field_tag :q, (params[:precise] ? t('.adv_search_placeholder') : params[:q]), :placeholder => t('.placeholder')
    - @documents.each do |d|
      %li
        %h3= d.title
        %p= d.journal

%div.rightcolumn
  %ul{ 'data-role' => 'listview', 'data-theme' => 'd', 'data-divider-theme' => 'b' }
    %li{ 'data-role' => 'list-divider' }= t('.analyze')
    - if session[:user].nil?
      %li{ 'data-theme' => 'e' }= link_to t('.login_prompt'), users_path
    - else
      %li= link_to t('.create_dataset'), '#'
  %div.verticalpad

  %ul{ 'data-role' => 'listview', 'data-theme' => 'd', 'data-divider-theme' => 'b' }
    %li{ 'data-role' => 'list-divider' }= t('.filters')
  %div.verticalpad
  %ul{ 'data-role' => 'listview', 'data-theme' => 'd', 'data-divider-theme' => 'c' }
    = facet_link_list
