%div.leftcolumn
  %ul{ 'data-role' => 'listview', 'data-theme' => 'd', 'data-divider-theme' => 'b' }
    %li{ 'data-role' => 'list-divider' }= num_results_string
    %li.search
      = form_tag(search_path, :method => :get, 'data-transition' => 'none') do
        = search_field_tag :q, (params[:precise] ? "(advanced search)" : params[:q]), :placeholder => "Search for articles..."
    - @documents.each do |d|
      %li
        %h3= d.title
        %p= d.journal
%div.rightcolumn
  %ul{ 'data-role' => 'listview', 'data-theme' => 'd', 'data-divider-theme' => 'b' }
    %li{ 'data-role' => 'list-divider' } Filter Search
  %div.verticalpad
  %ul{ 'data-role' => 'listview', 'data-theme' => 'd', 'data-divider-theme' => 'c' }
    = facet_link_list
