%ul{ 'data-role' => 'listview', 'data-theme' => 'd', 'data-divider-theme' => 'b' }
  %li{ 'data-role' => 'list-divider' }= t('.details')
  %li= document_bibliography_entry(@document)

%div.verticalpad

%ul{ 'data-role' => 'listview', 'data-inset' => 'true', 'data-theme' => 'd', 'data-divider-theme' => 'c' }
  %li= link_to t('.single_dataset'), '#'
  %li{ 'data-role' => 'list-divider' }= t('.get')
  - unless @document.doi.blank?
    %li= link_to t('.publisher', :doi => @document.doi), "http://dx.doi.org/#{@document.doi}"
  %li{ 'data-role' => 'list-divider' }= t('.library')  
  %li= link_to t('.worldcat'), "http://worldcatlibraries.org/registry/gateway?#{@document.to_openurl_params}"
  %li= link_to t('.uk_openurl'), "http://openurl.ac.uk/?#{@document.to_openurl_params}"
  %li{ 'data-role' => 'list-divider' }= t('.online')
  %li= link_to t('.google'), "http://scholar.google.com/scholar?q=#{CGI::escape(@document.title)}"
  - unless APP_CONFIG['mendeley_key'].blank?
    %li= link_to t('.mendeley'), mendeley_redirect_path(:id => @document.shasum), :rel => "external"
  %li= link_to t('.citeulike'), citeulike_redirect_path(:id => @document.shasum), :rel => "external"
