%ul{ 'data-role' => 'listview', 'data-theme' => 'd', 'data-divider-theme' => 'b' }
  %li{ 'data-role' => 'list-divider' }= t('.num_datasets_found', :count => @datasets.count)
  - user_pending_count = AnalysisTask.joins(:dataset).where(:finished_at => nil, :datasets => {:user_id => @user.to_param}).count
  - if user_pending_count > 0
    %li{ 'data-theme' => 'e' }= t('.tasks', :count => user_pending_count)
  - unless @datasets.count
    %li{ 'data-theme' => 'e' }= t('.no_datasets')
  - else
    - @datasets.each do |dataset|
      %li
        = link_to dataset do
          = dataset.name
          %span.ui-li-count= dataset.entries.size
