%ul{ 'data-role' => 'listview', 'data-theme' => 'd', 'data-divider-theme' => 'b', 'data-split-icon' => 'delete', 'data-split-theme' => 'a' }
  %li{ 'data-role' => 'list-divider' }= t('.head')
  %li
    %h3= @dataset.name
    %p= t('.num_entries', :count => @dataset.entries.size)
    %p= t('.created_at', :date => @dataset.created_at.to_formatted_s(:long))
  %li{ 'data-role' => 'list-divider' }= t('.tasks')
  - if @dataset.analysis_tasks.where(:finished_at => nil).count > 0
    %li{ 'data-theme' => 'e' }= t('.pending', :count => @dataset.analysis_tasks.where(:finished_at => nil).count)
  - if @dataset.analysis_tasks.count(:finished_at)
    - @dataset.analysis_tasks.where('finished_at IS NOT NULL').each do |task|
      %li
        = link_to download_dataset_path(@dataset, :task_id => task.to_param), 'rel' => 'external' do
          %h3= t('.task_header', :name => task.name)
          %p= t('.download_task')
        = link_to t('.delete_task'), '#'
  %li= create_jobs_markup
  %li{ 'data-icon' => 'delete' }= link_to t('.delete'), delete_dataset_path(@dataset), 'data-rel' => 'dialog'
