%ul{ 'data-role' => 'listview', 'data-theme' => 'd', 'data-divider-theme' => 'b', 'data-split-icon' => 'delete', 'data-split-theme' => 'a' }
  %li{ 'data-role' => 'list-divider' }= t('.head')
  %li
    %h3= @dataset.name
    %p= t('.num_entries', :count => @dataset.entries.size)
    %p= t('.created_at', :date => @dataset.created_at.to_formatted_s(:long))
  
%div.verticalpad
%div.dataset_task_list{ :'data-fetch-url' => task_list_dataset_path(@dataset) }
%div.verticalpad

%ul{ 'data-role' => 'listview', 'data-theme' => 'd', 'data-divider-theme' => 'b', 'data-split-icon' => 'delete', 'data-split-theme' => 'a' }
  
  -# Show the markup for starting all the various background jobs
  %li{ 'data-role' => 'list-divider' }= t('.new_task')
  - Jobs::Analysis::Base.job_list.each do |klass|
    = render :file => klass.view_path('start'), :locals => { :dataset => @dataset, :task => nil }
  
  %li{ 'data-icon' => 'delete' }= link_to t('.delete'), delete_dataset_path(@dataset), 'data-rel' => 'dialog'
