%h1 Welcome!

%p
  Thanks for signing up for #{APP_CONFIG['app_name']}!  Please double-check 
  your information before continuing.

= form_for(@user) do |f|
  - if @user.errors.any?
    %ul{ 'data-theme' => 'e' }
      %li #{pluralize(@user.errors.count, "error")} prohibited this user from being saved:
      - @user.errors.full_messages.each do |msg|
        %li= msg
  
  = f.hidden_field :identifier

  %div{ 'data-role' => 'fieldcontain' }
    = f.label :email, 'Email:'
    = f.text_field :email
  
  %div{ 'data-role' => 'fieldcontain' }
    = f.label :name, 'Name:'
    = f.text_field :name
  
  %div{ 'data-role' => 'fieldcontain' }
    = f.label :language, 'Language:'
    = f.select :language, options_from_locales(get_user_language)

  = f.submit
