%ul{ 'data-role' => 'listview', 'data-theme' => 'd', 'data-divider-theme' => 'b' }
  %li{ 'data-role' => 'list-divider' }= t('.head')
  %li= link_to t('.user_id', :name => session[:user].name, :email => session[:user].email), root_path
  %li= link_to t('.not_you'), { :controller => 'users', :action => 'logout' }, :rel => 'external'

  %li{ 'data-role' => 'list-divider' }= t('.options')

%div.verticalpad

= form_for(session[:user], :url => users_update_path, :html => { 'data-ajax' => 'false' }) do |f|
  %ul{ 'data-role' => 'listview', 'data-theme' => 'd', 'data-divider-theme' => 'b' }  
    - if session[:user].errors.any?
      %li{ 'data-theme' => 'e' } = t('.errors', :count => session[:user].errors.count)
      - session[:user].errors.full_messages.each do |msg|
        %li{ 'data-theme' => 'e' }= msg

    %li
      %div{ 'data-role' => 'fieldcontain' }
        = f.label :name, User.human_attribute_name('name')
        = f.text_field :name
      %div{ 'data-role' => 'fieldcontain' }
        = f.label :email, User.human_attribute_name('email')
        = f.text_field :email
      %div{ 'data-role' => 'fieldcontain' }
        = f.label :language, User.human_attribute_name('language')
        = f.select :language, options_from_locales(session[:user].language)
      %div{ 'data-role' => 'fieldcontain' }
        = field_set_tag User.human_attribute_name('per_page'), 'data-role' => 'controlgroup', 'data-type' => 'horizontal' do
          = f.radio_button :per_page, '10'
          = f.label :per_page_10, 10.to_s
          = f.radio_button :per_page, '25'
          = f.label :per_page_25, 25.to_s
          = f.radio_button :per_page, '50'
          = f.label :per_page_50, 50.to_s
          = f.radio_button :per_page, '100'
          = f.label :per_page_100, 100.to_s
      
    %li= f.submit t('.submit_label')
