%ul{ 'data-role' => 'listview', 'data-theme' => 'd', 'data-divider-theme' => 'b' }
  %li{ 'data-role' => 'list-divider' } Manage your account
  
  - if session[:user].nil?
    %li
      %h3 Log in to #{APP_CONFIG['app_name']}
      %p
        You can use your account with Google, Facebook, Yahoo, Flickr, myOpenID,
        or any other OpenID.
    %li.janrain= RPXNow.embed_code('evotext', url_for(:controller => :users, :action => :rpx, :only_path => false)).html_safe
    %li= link_to "Concerned about your security?", :controller => :info, :action => :privacy
  - else
    %li= link_to "You are logged in as #{session[:user].name} (#{session[:user].email})", root_path
    %li= link_to 'Not you? Log in as a different user.', :controller => 'users', :action => 'logout'
    %li{ 'data-role' => 'list-divider' } User options
    %li There will be some options here, eventually.
    %li
      %small
        If you are asked to provide your "user identifier" for debugging
        purposes, it is [#{session[:user].identifier}].

