%ul{ 'data-role' => 'listview', 'data-theme' => 'd', 'data-divider-theme' => 'b' }
  %li{ 'data-role' => 'list-divider' }= t('.head')
  %li.longlist
    %h3= t('.instructions_header', :app_name => APP_CONFIG['app_name'])
    %p= t('.instructions_one', :app_name => APP_CONFIG['app_name'])
    %p= t('.instructions_two', :app_name => APP_CONFIG['app_name'])
  %li.longlist
    = link_to :controller => :info, :action => :privacy do
      %h3= t('.privacy_header', :app_name => APP_CONFIG['app_name'])
      %p= t('.privacy_text', :app_name => APP_CONFIG['app_name'])
  %li.janrain= RPXNow.embed_code(APP_CONFIG['janrain_appname'], url_for(:controller => :users, :action => :rpx, :only_path => false)).html_safe
