%h1= t('.head')
%p= t('.intro', :app_name => APP_CONFIG['app_name'])

= form_for(@user) do |f|
  - if @user.errors.any?
    %ul{ 'data-theme' => 'e' }
      %li= t('.errors', :count => @user.errors.count)
      - @user.errors.full_messages.each do |msg|
        %li= msg
  
  = f.hidden_field :identifier

  %div{ 'data-role' => 'fieldcontain' }
    = f.label :email, t('users.email_label')
    = f.text_field :email
  
  %div{ 'data-role' => 'fieldcontain' }
    = f.label :name, t('users.name_label')
    = f.text_field :name
  
  %div{ 'data-role' => 'fieldcontain' }
    = f.label :language, t('users.language_label')
    = f.select :language, options_from_locales(get_user_language)

  = f.submit t('.submit_label')
