- title t :'options.header'

%h2= t :'options.header'

%div.verticalpad

%h3= t :'options.locale_header'

= form_tag options_path(:action => :locale) do
  %div{ :'data-role' => :fieldcontain }
    = label_tag :locale do
      %span= t :'options.locale_label'
      = help_button :'help.options.languages_markdown'
    - locale = I18n.locale
    - locale ||= I18n.default_locale
    = select_tag :locale, options_for_select(Hash[*APP_CONFIG['available_locales'].sort {|a,b| locale_name(a)<=>locale_name(b)}.collect {|l| [locale_name(l), l]}.flatten], locale), :'data-native-menu' => :false, :class => :localeselect
  = link_to t(:'options.locale_button'), "javascript:localeRedirect('#{I18n.default_locale}');", :'data-role' => :button

%div.verticalpad

%h3= t :'options.session_header'

= form_tag options_path(:action => :setsession) do
  %div{ :'data-role' => :fieldcontain }
    = field_set_tag t(:'options.per_page_label'), 'data-role' => 'controlgroup', 'data-type' => 'horizontal' do
      = radio_button_tag(:per_page, '10', (session[:per_page].nil? || session[:per_page] == '10'), :id => :per_page)
      = label_tag(:per_page, '10')
      = radio_button_tag(:per_page, '25', (session[:per_page] == '25'), :id => :per_page_twofive)
      = label_tag(:per_page_twofive, '25')
      = radio_button_tag(:per_page, '50', (session[:per_page] == '50'), :id => :per_page_fifty)
      = label_tag(:per_page_fifty, '50')
      = radio_button_tag(:per_page, '100', (session[:per_page] == '100'), :id => :per_page_hund)
      = label_tag(:per_page_hund, '100')
  = submit_tag t :'options.save_button'
