- title t :'options.header'

%h2= t :'options.header'

%div.verticalpad

%h3= t :'options.locale_header'

= form_tag options_path(:action => :locale) do
  %div{ :'data-role' => :fieldcontain }
    = label_tag :locale do
      %span= t :'options.locale_label'
      = help_button :'help.options.languages_markdown'
    - locale = I18n.locale
    - locale ||= I18n.default_locale
    = select_tag :locale, options_for_select(Hash[*APP_CONFIG['available_locales'].collect { |loc| [locale_name(loc), loc] }.flatten], locale), :'data-native-menu' => :false
  = submit_tag t :'options.locale_button'

%div.verticalpad

%h3= t :'options.session_header'

= form_tag options_path(:action => :setsession) do
  %div{ :'data-role' => :fieldcontain }
    = label_tag :perpage do
      %span= t :'options.per_page_label'
      = help_button :'help.options.per_page'
    = select_tag :perpage, options_for_select(['10', '25', '50', '100']), :'data-native-menu' => :false
  = submit_tag t :'options.save_button'
