- title t :'options.header'

%h2= t :'options.header'

%div.verticalpad

%h3= t :'options.locale_header'

= form_tag options_path(:action => :locale) do
  %div{ :'data-role' => :fieldcontain }
    = label_tag :locale do
      %span= t :'options.locale_label'
      = help_button :'help.options.languages_markdown'
    - locale = I18n.locale
    - locale ||= I18n.default_locale
    = select_tag :locale, options_for_select(Hash[*APP_CONFIG['available_locales'].collect { |loc| [locale_name(loc), loc] }.flatten], locale), :'data-native-menu' => :false
  = submit_tag t :'options.locale_button'

%div.verticalpad

%h3= t :'options.session_header'

= form_tag options_path(:action => :setsession) do
  %div{ :'data-role' => :fieldcontain }
    = field_set_tag t(:'options.per_page_label'), 'data-role' => 'controlgroup', 'data-type' => 'horizontal' do
      = radio_button_tag(:perpage, '10', true, :id => :perpage_ten)
      = label_tag(:perpage_ten, '10')
      = radio_button_tag(:perpage, '25', true, :id => :perpage_twofive)
      = label_tag(:perpage_twofive, '25')
      = radio_button_tag(:perpage, '50', true, :id => :perpage_fifty)
      = label_tag(:perpage_fifty, '50')
      = radio_button_tag(:perpage, '100', true, :id => :perpage_hund)
      = label_tag(:perpage_hund, '100')
  = submit_tag t :'options.save_button'
