= authors_link document.authors
%br
%em><
  = journal_link document.journal
  = ", "
- unless document.volume.empty?
  == Vol. #{document.volume},
- unless document.number.empty?
  == No. #{document.number}
- unless document.year.empty?
  == (#{document.year}),
- unless document.pages.empty?
  == pp. #{document.pages}
