%strong= document.title
%br
!= document.authors.split(',').map { |a| author_link a.strip }.join(", ")
%br
%em><
  = journal_link document.journal
  = ", "
- unless document.volume.empty?
  == Vol. #{document.volume},
- unless document.number.empty?
  == No. #{document.number}
- unless document.year.empty?
  == (#{year_link document.year}),
- unless document.pages.empty?
  == pp. #{document.pages}
%br
%a{:href => document.doi_url}== PDF
= " | "
= link_to 'More Information', document_path(document)
