%h3= document.title
%p
  = content_tag :span, '', :class => "Z3988", :title => document.openurl_query
  = content_tag :abbr, '', :class => 'unapi-id', :title => document.shasum
  = document.authors
%p
  %em><
    = "#{document.journal}, "
  - unless document.volume.empty?
    == #{t(:'citation.volume_abbr', :volume => document.volume)},
  - unless document.number.empty?
    == #{t(:'citation.number_abbr', :number => document.number)}
  - unless document.year.empty?
    == (#{document.year}),
  - unless document.pages.empty?
    == #{t(:'citation.pages_abbr', :pages => document.pages)}
