-# Render Dublin Core and HighWire META information
- content_for :meta do
  = tag :link, :rel => 'schema.DCTERMS', :href => 'http://purl.org/dc/terms/'
  = tag :link, :rel => 'schema.DC', :href => 'http://purl.org/dc/elements/1.1/'
  - document.formatted_author_list.each do |a|
    - name = ''
    - name << "#{a[:von]} " unless a[:von].blank?
    - name << "#{a[:last]}"
    - name << " #{a[:suffix]}" unless a[:suffix].blank?
    - name << ", #{a[:first]}"
    = tag :meta, :name => 'DC.creator', :content => name, "xml:lang" => 'en'
  = tag :meta, :name => 'DCTERMS.issued', :content => document.year, "xml:lang" => 'en', :scheme => 'DCTERMS.W3CDTF'
  - citation = "#{document.journal}"
  - citation << " #{document.volume}" unless document.volume.blank?
  - citation << ' ' if document.volume.blank?
  - citation << "(#{document.number})" unless document.number.blank?
  - citation << ", #{document.pages}" unless document.pages.blank?
  - citation << ". (#{document.year})"
  = tag :meta, :name => 'DCTERMS.bibliographicCitation', :content => citation, "xml:lang" => 'en'
  = tag :meta, :name => 'DCTERMS.bibliographicCitation', :content => document.openurl_query, :scheme => "KEV.ctx"
  = tag :meta, :name => 'DC.relation', :content => document.journal, "xml:lang" => 'en'
  = tag :meta, :name => 'DC.title', :content => document.title, "xml:lang" => 'en'
  = tag :meta, :name => 'DC.type', :content => 'Journal Article', "xml:lang" => 'en'
  - unless document.doi.blank?
    = tag :meta, :name => 'DC.identifier', :content => "info:doi/#{document.doi}", "xml:lang" => 'en'
  
  = tag :meta, :name => 'citation_title', :content => document.title
  = tag :meta, :name => 'citation_date', :content => document.year
  - document.formatted_author_list.each do |a|
    - name = ''
    - name << "#{a[:von]} " unless a[:von].blank?
    - name << "#{a[:last]}"
    - name << " #{a[:suffix]}" unless a[:suffix].blank?
    - name << ", #{a[:first]}"
    = tag :meta, :name => 'citation_authors', :content => name
  = tag :meta, :name => 'citation_journal_title', :content => document.journal
  - unless document.volume.blank?
    = tag :meta, :name => 'citation_volume', :content => document.volume
  - unless document.number.blank?
    = tag :meta, :name => 'citation_issue', :content => document.number
  - unless document.start_page.blank?
    = tag :meta, :name => 'citation_firstpage', :content => document.start_page
