- if params[:hl_word]
  - title "Term Concordance: #{params[:hl_word]}"
- else
  - title "Term Concordance"

= render :partial => 'documents/detailheader', :locals => { :document => @document, :title => 'Term Concordance' }

= form_tag(concordance_document_path(@document), { :method => "get" }) do
  %div.fieldcontain
    = label_tag(:hl_word, 'Display concordance for word:', :for => 'field_hl_word')
    = text_field_tag(:hl_word, params[:hl_word], :id => 'field_hl_word')
  = submit_tag "Get Concordance"

- if params.has_key? :hl_word
  %h3== Concordance for term “#{params[:hl_word]}”
  
  - if not @document.snippets
    %p
      == This document contains no instances of the term “#{params[:hl_word]}”.
  - else
    %p
      == This document contains #{pluralize(@document.term_vectors[params[:hl_word]][:tf], 'instance')} of the term “#{params[:hl_word]}”.
    
    %ul.conc_matches
      - @document.snippets.each do |s|
        %li
          = escape_once(s).gsub("&lt;em&gt;","<em>").gsub("&lt;/em&gt;","</em>")
