- if params[:hl_word]
  - title "Term Concordance: #{params[:hl_word]}"
- else
  - title "Term Concordance"

= render :partial => 'documents/detailheader', :locals => { :document => @document, :title => 'Term Concordance' }

= form_tag(concordance_document_path(@document), { :method => "get", 'data-transition' => 'none' }) do
  %div.fieldcontain
    = label_tag(:hl_word, 'Display concordance for word:', :for => 'field_hl_word')
    = text_field_tag(:hl_word, params[:hl_word], :id => 'field_hl_word')
  = submit_tag "Get Concordance"

%div.verticalpad

- if params.has_key? :hl_word
  - if not @document.snippets
    %ul.conc_matches{ 'data-role' => 'listview', 'data-inset' => 'true', 'data-dividertheme' => 'e' }
      %li{ 'data-role' => 'list-divider' }
        No instances of term “#{params[:hl_word]}”
        %span.ui-li-count 0 instances
  - else
    %ul.conc_matches{ 'data-role' => 'listview', 'data-inset' => 'true', 'data-theme' => 'd', 'data-dividertheme' => 'c' }
      %li{ 'data-role' => 'list-divider' }
        Concordance for term “#{params[:hl_word]}”
        %span.ui-li-count==  #{pluralize(@document.term_vectors[params[:hl_word]][:tf], 'instance')}
      - @document.snippets.each do |s|
        %li
          = escape_once(s).gsub("&lt;em&gt;","<em>").gsub("&lt;/em&gt;","</em>")
