- if params[:hl_word]
  - title "Term Concordance: #{params[:hl_word]}"
- else
  - title "Term Concordance"

= render :partial => 'documents/detailheader', :locals => { :document => @document, :title => 'Term Concordance' }

= form_tag(concordance_document_path(@document), { :method => "get" }) do
  = label_tag(:hl_word, "Display concordance for word:")
  %br
  = text_field_tag(:hl_word, params[:hl_word])
  = search_button_submit_tag "Get Concordance"

- if params.has_key? :hl_word
  %h3== Concordance for term “#{params[:hl_word]}”
  
  - if not @document.snippets
    %p
      == This document contains no instances of the term “#{params[:hl_word]}”.
  - else
    %p
      == This document contains #{pluralize(@document.snippets.length, 'instance')} of the term “#{params[:hl_word]}”.
    
    %ul.conc_matches
      - @document.snippets.each do |s|
        %li
          = escape_once(s)
