- if params[:hl_word]
  - title "#{t :'concordance.header'}: #{params[:hl_word]}"
- else
  - title(t :'concordance.header')

= render :partial => 'documents/detailheader', :locals => { :document => @document, :title => t(:'concordance.header') }

= form_tag(concordance_document_path(@document), { :method => "get", 'data-transition' => 'none' }) do
  %div.fieldcontain
    = label_tag(:hl_word, t(:'concordance.form_label'), :for => 'field_hl_word')
    = text_field_tag(:hl_word, params[:hl_word], :id => 'field_hl_word', :autocapitalize => 'off')
  = submit_tag(t :'concordance.form_button')

%div.verticalpad

- if params.has_key? :hl_word
  - if not @document.snippets
    %ul.conc_matches{ 'data-role' => 'listview', 'data-inset' => 'true', 'data-dividertheme' => 'e' }
      %li{ 'data-role' => 'list-divider' }
        = t :'concordance.no_matches_list', :term => params[:hl_word].downcase
        %span.ui-li-count= t :'concordance.instances', :count => 0
  - else
    %ul.conc_matches{ 'data-role' => 'listview', 'data-inset' => 'true', 'data-theme' => 'd', 'data-dividertheme' => 'c' }
      %li{ 'data-role' => 'list-divider' }
        = t :'concordance.matches_list', :term => params[:hl_word].downcase
        %span.ui-li-count= t :'concordance.instances', :count => @document.term_vectors[params[:hl_word].downcase][:tf]
      - @document.snippets.each do |s|
        %li= s
