\%0 Journal Article
- @document.formatted_author_list.each do |a|
  - str = "%A #{a[:last]}, #{a[:first]}"
  - str << " #{a[:von]}" unless a[:von].blank?
  - str << ", #{a[:suffix]}" unless a[:suffix].blank?
  = str
==%T #{@document.title}
==%D #{@document.year}
==%J #{@document.journal}
- unless @document.volume.blank?
  ==%V #{@document.volume}
- unless @document.number.blank?
  ==%N #{@document.number}
- unless @document.pages.blank?
  ==%P #{@document.pages}
==%M #{@document.doi}
==%U #{document_url(@document)}