- if params[:q] or params[:fq] or params[:precise]
  - title t :'index.search_results'

%div.leftcolumn
  %ul.columnul{ 'data-role' => 'listview', 'data-theme' => 'd' }
    %li.list-searchbar{ 'data-theme' => 'c' }
      = render :partial => "layouts/searchbar"
    - if @num_results == 0
      %li{ 'data-icon' => 'warning', 'data-theme' => 'e' }
        %h3= t :'index.no_documents_header'
        %p= t :'index.no_documents_text'
    - else
      %li{ 'data-theme' => 'c' }
        - if params[:q] or params[:fq] or params[:precise]
          = t :'index.documents_found', :count => @num_results
        - else
          = t :'index.documents_in_database', :count => @num_results
      - for doc in @documents
        %li{ 'data-icon' => 'info' }
          = link_to document_path(doc) do
            = render :partial => "cite", :locals => { :document => doc }
  
  %div.verticalpad
          
  %p= render_pagination @page, @per_page, @num_results
  
  %div.verticalpad

%div.rightcolumn
  %ul.facet-list.columnul{ 'data-role' => 'listview', 'data-theme' => 'd', 'data-dividertheme' => 'c' }
    %li{ 'data-theme' => 'c' }= t :'filters.header'
    - rendered_facets = 0
    - unless params[:fq].blank?
      %li{ 'data-role' => 'list-divider' }= t :'filters.selected'
      = render_selected_facets
      - rendered_facets += 1
    - get_facets.each do |facet|
      - content = render_solr_facet(facet, @facets[facet[:key]])
      - next if content.blank?
      - rendered_facets += 1
      
      %li{ 'data-role' => 'list-divider' }= t :'filters.filter_title', :filter_name => facet[:name]
      = content
    
    - if rendered_facets == 0
      %li{ 'data-role' => 'list-divider' }= t :'filters.no_filters'

    %li{ 'data-role' => 'list-divider', 'data-icon' => 'search', 'data-theme' => 'c' }
      = link_to t(:'index.advanced_search'), search_documents_path
    
    %li{ 'data-role' => 'list-divider', 'data-icon' => 'check', 'data-theme' => 'c' }
      = link_to t(:'index.export_download'), formats_document_export_path(@document_ids)

    %li{ 'data-role' => 'list-divider', 'data-icon' => 'check', 'data-theme' => 'c' }
      = link_to t(:'index.options'), options_path
