- if params[:q] or params[:fq] or params[:precise]
  - title "Search Results"

%div.leftcolumn
  %ul{ :class => 'columnul', 'data-role' => 'listview' }
    - if @documents.length == 0
      %li{ 'data-icon' => 'warning', 'data-theme' => 'e' }
        %h3 No Documents Found
        %p
          Your search produced no results.
    - for doc in @documents
      %li{ 'data-icon' => 'info' }
        = link_to document_path(doc) do
          = render :partial => "cite", :locals => { :document => doc }

  %div.verticalpad

  = will_paginate @documents

%div.rightcolumn
  %ul{ :class => 'columnul', 'data-role' => 'listview', 'data-theme' => 'c', 'data-dividertheme' => 'd' }
    - rendered_facets = 0
    - unless params[:fq].blank?
      %li{ 'data-role' => 'list-divider' } Selected Filters
      = render_selected_facets(params)
      - rendered_facets += 1
    - get_facets.each do |facet|
      - content = render_solr_facet(params, facet, @facets[facet[:key]])
      - next if content.blank?
      - rendered_facets += 1
      
      %li{ 'data-role' => 'list-divider' }== Filter: #{facet[:name]}
      = content
    
    - if rendered_facets == 0
      %li{ 'data-role' => 'list-divider' } No Filters Available
