- if params[:q] or params[:precise]
  - title "Search Results"

.rightcol
  - if session[:facets] and not session[:facets].empty?
    .rightbox
      .boxheader
        %h2 Active Filters
      
      %p.selectedfacets
        - selected_facets_list(session[:facets]).each do |f|
          = f
    
  - if @facets
    .rightbox
      .boxheader
        %h2 Filter Results
      
      %ul.facetcategories
        - get_facets.each do |facet|
          %li
            %p.header
              %a{:href => '#'}
                %span.icon
                = facet[:name]
            %div.collapse
              %p
                - facet_value_list(@facets[facet[:key]], facet[:field]).each do |val|
                  %span.nowrap
                    = facet[:func].call(val[:value], val[:link])
                    = " (#{val[:count]})"
      
      = content_for :javascripts do
        = javascript_tag "$(document).ready(function() { $('ul.facetcategories').accordion({ icons: false, collapsible: true, active: false }); });"
      

%ul.docs
  - for doc in @documents
    %li
      = render :partial => "cite_links", :locals => { :document => doc }

.pagination
  = will_paginate @documents

.clearboth
