TY  - JOUR
- @document.formatted_author_list.each do |a|
  - str = "AU  - "
  - str << "#{a[:von]} " unless a[:von].blank?
  - str << "#{a[:last]},#{a[:first]}"
  - str << ",#{a[:suffix]}" unless a[:suffix].blank?
  = str
==TI  - #{@document.title}
==PY  - #{@document.year}///
==JO  - #{@document.journal}
- unless @document.volume.blank?
  ==VL  - #{@document.volume}
- unless @document.number.blank?
  ==IS  - #{@document.number}
- unless @document.start_page.blank?
  ==SP  - #{@document.start_page}
- unless @document.end_page.blank?
  ==EP  - #{@document.end_page}
==UR  - #{document_url(@document)}
ER  -