- title "Advanced Search"

%h2 Advanced Document Search

%p
  :markdown
    This page lets you perform an advanced search of the evoText database.  You may choose either to utilize our guided search form, or to construct a query directly in [Solr's query syntax](http://wiki.apache.org/solr/SolrQuerySyntax), which is itself a superset of [Lucene query syntax](http://lucene.apache.org/java/2_9_1/queryparsersyntax.html).  These custom searches are extremely powerful.

%div.verticalpad

%h3 Guided Advanced Search

= form_tag(documents_path, { :method => "get" }) do
  = hidden_field_tag(:precise, true)
  %div{ 'data-role' => 'fieldcontain' }
    = label_tag(:authors, 'Authors:')
    -#= help_image do
    -#  Authors of articles, in "First Last, First Last, ..." format.
    = text_field_tag(:authors)
  %div{ 'data-role' => 'fieldcontain' }
    = label_tag(:title, 'Title:')
    -#= help_image do
    -#  Title of journal article.
    = text_field_tag(:title)
  %div{ 'data-role' => 'fieldcontain' }
    = field_set_tag('Title search type:', 'data-role' => 'controlgroup', 'data-type' => 'horizontal') do
      -#= help_image do
      -#  If "Exact", search against the exact title.  If "fuzzy", search against the stemmed title.  (The standard evoText search uses the stemmed search fields.)
      = radio_button_tag(:title_type, "exact", true, :id => :title_type_exact)
      = label_tag(:title_type_exact, "Exact")
      = radio_button_tag(:title_type, "fuzzy", false, :id => :title_type_fuzzy)
      = label_tag(:title_type_fuzzy, "Fuzzy")
  %div{ 'data-role' => 'fieldcontain' }
    = label_tag(:journal, 'Journal:')
    -#= help_image do
    -#  Journal in which article was published.
    = text_field_tag(:journal)
  %div{ 'data-role' => 'fieldcontain' }
    = field_set_tag('Journal search type:', 'data-role' => 'controlgroup', 'data-type' => 'horizontal') do
      -# = help_image do
      -#  If "Exact", search against the exact journal title.  If "fuzzy", search against the stemmed journal title.  (The standard evoText search uses the stemmed search fields.)
      = radio_button_tag(:journal_type, "exact", true, :id => :journal_type_exact)
      = label_tag(:journal_type_exact, "Exact")
      = radio_button_tag(:journal_type, "fuzzy", false, :id => :journal_type_fuzzy)
      = label_tag(:journal_type_fuzzy, "Fuzzy")
  %div{ 'data-role' => 'fieldcontain' }
    = label_tag(:year_start, 'Published between (start):')
    = text_field_tag(:year_start)
  %div{ 'data-role' => 'fieldcontain' }
    = label_tag(:year_end, 'Published between (end):')
    = text_field_tag(:year_end)
  %div{ 'data-role' => 'fieldcontain' }
    = label_tag(:volume, 'Volume:')
    -#= help_image do
    -#  Volume of journal.
    = text_field_tag(:volume)
  %div{ 'data-role' => 'fieldcontain' }
    = label_tag(:number, 'Issue number:')
    -#= help_image do
    -#  Issue number of journal.
    = text_field_tag(:number)
  %div{ 'data-role' => 'fieldcontain' }
    = label_tag(:pages, 'Pages:')
    -#= help_image do
    -#  Page number of journal.  This is a text search, not a range search: you will have to specify a page number precisely as it appears in an article's citation information.
    = text_field_tag(:pages)
  %div{ 'data-role' => 'fieldcontain' }
    = label_tag(:fulltext, 'Full article text:')
    -#= help_image do
    -#  Terms appearing in the full text of the article.
    = text_field_tag(:fulltext)
  %div{ 'data-role' => 'fieldcontain' }
    = field_set_tag('Full text search type:', 'data-role' => 'controlgroup', 'data-type' => 'horizontal') do
      -#= help_image do
      -#  If "Exact", search against the exact full text.  If "fuzzy", search against the stemmed full text.  (The standard evoText search uses the stemmed search fields.)
      = radio_button_tag(:fulltext_type, "exact", true)
      = label_tag(:fulltext_type_exact, 'Exact')
      = radio_button_tag(:fulltext_type, "fuzzy", false)
      = label_tag(:fulltext_type_fuzzy, 'Fuzzy')
  = submit_tag "Advanced Search"

%div.verticalpad

%h3 Solr Query Search

.solrform
  = form_tag(documents_path, :method => "get") do
    = hidden_field_tag(:precise, true)
    = label_tag(:q, "Solr query string:")
    -#= help_image 400 do
    -#  :markdown
    -#    The following fields are available in Solr for searching:
    -#    
    -#    *   `authors`: Authors, generally in the format "First Last, First Last..."  
    -#    *   `title`: Verbatim title of article  
    -#    *   `journal`: Verbatim journal of article  
    -#    *   `year`: Year of article publication (format not standardized, may occasionally be something like "1945-1946")  
    -#    *   `volume`: Journal volume  
    -#    *   `number`: Journal issue number  
    -#    *   `pages`: Journal pages (usually "1234-1235")  
    -#    *   `fulltext`: Verbatim full text of the article  
    -#    *   `title_search`: Article title, lowercased and stemmed  
    -#    *   `journal_search`: Journal, lowercased and stemmed  
    -#    *   `fulltext_search`: Full text of article, lowercased and stemmed  
    = text_area_tag(:q, nil, { :escape => false })
    = submit_tag "Submit Solr Query"

