- title t :'search.header'

%h2= t :'search.header'

= raw(Maruku.new(t(:'search.intro_markdown')).to_html)

%div.verticalpad

%h3= t :'search.search_header'

= form_tag documents_path, { :method => "get" } do
  = hidden_field_tag :precise, true
  %div{ 'data-role' => 'fieldcontain' }
    = label_tag :authors do
      %span= t :'search.authors_label'
      = help_button :'help.search.authors'
    = text_field_tag :authors
  %div{ 'data-role' => 'fieldcontain' }
    = label_tag :title do
      %span= t :'search.title_label'
      = help_button :'help.search.title'
    = text_field_tag :title
  %div{ 'data-role' => 'fieldcontain' }
    = field_set_tag t(:'search.title_type_label'), 'data-role' => 'controlgroup', 'data-type' => 'horizontal' do
      = radio_button_tag(:title_type, "exact", true, :id => :title_type_exact)
      = label_tag(:title_type_exact, t(:'search.type_exact'))
      = radio_button_tag(:title_type, "fuzzy", false, :id => :title_type_fuzzy)
      = label_tag(:title_type_fuzzy, t(:'search.type_fuzzy'))
  %div{ 'data-role' => 'fieldcontain' }
    = label_tag :journal do
      %span= t :'search.journal_label'
      = help_button :'help.search.journal'
    = text_field_tag(:journal)
  %div{ 'data-role' => 'fieldcontain' }
    = field_set_tag t(:'search.journal_type_label'), 'data-role' => 'controlgroup', 'data-type' => 'horizontal' do
      = radio_button_tag(:journal_type, "exact", true, :id => :journal_type_exact)
      = label_tag(:journal_type_exact, t(:'search.type_exact'))
      = radio_button_tag(:journal_type, "fuzzy", false, :id => :journal_type_fuzzy)
      = label_tag(:journal_type_fuzzy, t(:'search.type_fuzzy'))
  %div{ 'data-role' => 'fieldcontain' }
    = label_tag :year_start do
      %span= t :'search.year_start_label'
      = help_button :'help.search.year_start'
    = text_field_tag(:year_start)
  %div{ 'data-role' => 'fieldcontain' }
    = label_tag :year_end do
      %span= t :'search.year_end_label'
      = help_button :'help.search.year_end'
    = text_field_tag(:year_end)
  %div{ 'data-role' => 'fieldcontain' }
    = label_tag :volume do
      %span= t :'search.volume_label'
      = help_button :'help.search.volume'
    = text_field_tag(:volume)
  %div{ 'data-role' => 'fieldcontain' }
    = label_tag :number do
      %span= t :'search.number_label'
      = help_button :'help.search.issue'
    = text_field_tag(:number)
  %div{ 'data-role' => 'fieldcontain' }
    = label_tag :pages do
      %span= t :'search.pages_label'
      = help_button :'help.search.pages'
    = text_field_tag(:pages)
  %div{ 'data-role' => 'fieldcontain' }
    = label_tag :fulltext do
      %span= t :'search.fulltext_label'
      = help_button :'help.search.fulltext'
    = text_field_tag(:fulltext)
  %div{ 'data-role' => 'fieldcontain' }
    = field_set_tag t(:'search.fulltext_type_label'), 'data-role' => 'controlgroup', 'data-type' => 'horizontal' do
      = radio_button_tag(:fulltext_type, "exact", true)
      = label_tag(:fulltext_type_exact, t(:'search.type_exact'))
      = radio_button_tag(:fulltext_type, "fuzzy", false)
      = label_tag(:fulltext_type_fuzzy, t(:'search.type_fuzzy'))
  = submit_tag t :'search.search_button'

%div.verticalpad

%h3= t :'search.solr_header'

.solrform
  = form_tag(documents_path, :method => "get") do
    = hidden_field_tag(:precise, true)
    = label_tag :q do
      %span= t :'search.solr_label'
      = help_button :'help.search.solr_query_markdown'
    = text_area_tag(:q, nil, { :escape => false })
    = submit_tag t :'search.solr_button'

