%h2 Advanced Document Search

%p
  :markdown
    This page lets you perform an advanced search of the evoText database.  You may choose either to utilize our guided search form, or to construct a query directly in [Solr's query syntax](http://wiki.apache.org/solr/SolrQuerySyntax), which is itself a superset of [Lucene query syntax](http://lucene.apache.org/java/2_9_1/queryparsersyntax.html).  These custom searches are extremely powerful.

%h3 Guided Advanced Search

= form_tag(documents_path, { :method => "get", :class => "advsearch" }) do
  .advsearch
    = hidden_field_tag(:advanced, true)
    %p
      = label_tag(:authors) do
        Authors:
        = help_image do
          Authors of articles, in "First Last, First Last, ..." format.
      = text_field_tag(:authors)
    %p
      = label_tag(:title) do
        Title:
        = help_image do
          Title of journal article.
      = text_field_tag(:title)
    %p
      = label_tag(:title_type) do
        Title search type:
        = help_image do
          If "Exact", search against the exact title.  If "fuzzy", search against the stemmed title.  (The standard evoText search uses the stemmed search fields.)
      %span.formpadding
        = radio_button_tag(:title_type, "exact", true, :class => "radio")
        Exact&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        = radio_button_tag(:title_type, "fuzzy", false, :class => "radio")
        Fuzzy
    %p
      = label_tag(:journal) do
        Journal:
        = help_image do
          Journal in which article was published.
      = text_field_tag(:journal)
    %p
      = label_tag(:journal_type) do
        Journal search type:
        = help_image do
          If "Exact", search against the exact journal title.  If "fuzzy", search against the stemmed journal title.  (The standard evoText search uses the stemmed search fields.)
      %span.formpadding
        = radio_button_tag(:journal_type, "exact", true, :class => "radio")
        Exact&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        = radio_button_tag(:journal_type, "fuzzy", false, :class => "radio")
        Fuzzy
    %p
      = label_tag(:year_start) do
        Year:
        = help_image do
          Year of publication, may specify a range.
      = text_field_tag(:year_start, nil, { :class => "sminput", :placeholder => "Start" })
      %span.formpadding to
      = text_field_tag(:year_end, nil, { :class => "sminput", :placeholder => "End" })
    %p
      = label_tag(:volume) do
        Volume:
        = help_image do
          Volume of journal.
      = text_field_tag(:volume)
    %p
      = label_tag(:number) do
        Issue number:
        = help_image do
          Issue number of journal.
      = text_field_tag(:number)
    %p
      = label_tag(:pages) do
        Pages:
        = help_image do
          Page number of journal.  This is a text search, not a range search: you will have to specify a page number precisely as it appears in an article's citation information.
      = text_field_tag(:pages)
    %p
      = label_tag(:fulltext) do
        Full article text:
        = help_image do
          Terms appearing in the full text of the article.
      = text_field_tag(:fulltext)
    %p
      = label_tag(:fulltext_type) do
        Full text search type:
        = help_image do
          If "Exact", search against the exact full text.  If "fuzzy", search against the stemmed full text.  (The standard evoText search uses the stemmed search fields.)
      %span.formpadding
        = radio_button_tag(:fulltext_type, "exact", true, :class => "radio")
        Exact&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        = radio_button_tag(:fulltext_type, "fuzzy", false, :class => "radio")
        Fuzzy
    %p
    %p.submit
      %span><
        = content_tag(:button, :type => :submit, :class => "button") do
          %span.magnifier.icon><
          Advanced Search

%h3 Solr Query Search

.solrform
  = form_tag(documents_path, :method => "get") do
    = hidden_field_tag(:precise, true)
    = label_tag(:q, "Solr query string:")
    = help_image 400 do
      :markdown
        The following fields are available in Solr for searching:
        
        *   `authors`: Authors, generally in the format "First Last, First Last..."  
        *   `title`: Verbatim title of article  
        *   `journal`: Verbatim journal of article  
        *   `year`: Year of article publication (format not standardized, may occasionally be something like "1945-1946")  
        *   `volume`: Journal volume  
        *   `number`: Journal issue number  
        *   `pages`: Journal pages (usually "1234-1235")  
        *   `fulltext`: Verbatim full text of the article  
        *   `title_search`: Article title, lowercased and stemmed  
        *   `journal_search`: Journal, lowercased and stemmed  
        *   `fulltext_search`: Full text of article, lowercased and stemmed  
    -# image_tag "/images/questionmark.jpg", { :alt => "Help?", :size => "16x16", :id => "solrquery", :class => "helptip" }
    -# tooltip('#solrquery', 'this is a <strong>test</strong>')
    %br
    = text_area_tag(:q, nil, { :escape => false })
    %br
    %br
    %span><
      = content_tag(:button, :type => :submit, :class => "button") do
        %span.magnifier.icon><
        Submit Solr Query


