- title "Document Information"

%h2 Document Information

%p
  = render :partial => "cite", :locals => { :document => @document }

%p
  %strong PDF:
  %a{:href => @document.doi_url}== doi:#{@document.doi}

%p
  %strong Excerpt:
  = help_image 400 do
    :markdown
      For reasons of copyright, we show only the first 200 characters of the document's full-text here.  For more of the document, please visit the publisher's website using the DOI link above.
  %br
  == #{@document.fulltext[0..200].sub(/ ?\S*$/,'')}&hellip;

%p
  %strong More Document Details:
  %br
  = link_to 'Term Frequencies', terms_document_path(@document), 'data-transition' => 'flip'
  = " | "
  = link_to 'Term Concordance', concordance_document_path(@document), 'data-transition' => 'flip'
