- title t(:'show.title')

%ul{ 'data-role' => 'listview' }
  %li= render :partial => "cite", :locals => { :document => @document }

%div.verticalpad

%p{ 'data-theme' => 'd' }
  %strong= t :'show.excerpt_label'
  = help_button :'help.show.excerpt'
%p{ 'data-theme' => 'd' }
  == #{@document.fulltext[0..200].sub(/ ?\S*$/,'')}&hellip;

%ul{ 'data-role' => 'listview', 'data-inset' => 'true', 'data-theme' => 'd', 'data-divider-theme' => 'c' }
  %li{ 'data-role' => 'list-divider' }= t :'show.more_details'
  %li= link_to t(:'terms.header'), terms_document_path(@document), 'data-transition' => 'flip'
  %li= link_to t(:'concordance.header'), concordance_document_path(@document), 'data-transition' => 'flip'
  %li{ 'data-role' => 'list-divider' }= t :'show.get'
  - unless @document.doi.blank?
    %li= link_to t(:'show.from_publisher', :doi => @document.doi), "http://dx.doi.org/#{@document.doi}"
  %li= link_to t(:'show.ol_library'), targets_document_link_path(@document)
  %li= link_to t(:'show.export_download'), formats_document_export_path(@document)

