- title "Document Information"
=render :partial => 'dublin_core', :locals => { :document => @document }

%ul{ 'data-role' => 'listview' }
  %li= render :partial => "cite", :locals => { :document => @document }

%div.verticalpad

%p{ 'data-theme' => 'd' }
  %strong Excerpt:
  - help_button do
    :markdown
      For reasons of copyright, we show only the first 200 characters of the document's full-text here.  For more, please access the document using one of the access methods listed below.
%p{ 'data-theme' => 'd' }
  == #{@document.fulltext[0..200].sub(/ ?\S*$/,'')}&hellip;

%ul{ 'data-role' => 'listview', 'data-inset' => 'true', 'data-theme' => 'd', 'data-divider-theme' => 'c' }
  %li{ 'data-role' => 'list-divider' } More Document Details:
  %li= link_to 'Term Frequencies', terms_document_path(@document), 'data-transition' => 'flip'
  %li= link_to 'Term Concordance', concordance_document_path(@document), 'data-transition' => 'flip'
  %li{ 'data-role' => 'list-divider' } Get this Document:
  - unless @document.doi.blank?
    %li= link_to "From Publisher (DOI: #{@document.doi})", "http://dx.doi.org/#{@document.doi}"
  %li
    Other Access Methods
    %ul
      %li= link_to "Google Scholar", "http://scholar.google.com/scholar?q=#{CGI::escape(@document.title).gsub('%20','+')}"
      %li= link_to "WorldCat Gateway", "http://worldcatlibraries.org/registry/gateway?#{@document.openurl_query}"
      %li= link_to "UK OpenURL Router", "http://openurl.ac.uk/?#{@document.openurl_query}"
      %li= link_to "Mendeley", mendeley_document_path(@document), :rel => "external"
      %li= link_to "CiteULike", citeulike_document_path(@document), :rel => "external"
  %li= link_to "Export/Download Citation", export_path(:id => @document.shasum)

