%h2 Document Information
  
%p
  %strong Title: 
  = @document.title
  %br
  %strong Authors:
  = @document.authors
  
%p
  %strong Citation Information:
  %em== #{@document.journal},
  
  - unless @document.volume.empty?
    == Vol. #{@document.volume},
  - unless @document.number.empty?
    == No. #{@document.number}
  - unless @document.year.empty?
    == (#{@document.year}),
  - unless @document.pages.empty?
    == pp. #{@document.pages}

%p
  %strong PDF:
  %a{:href => @document.doi_url}== doi:#{@document.doi}

%p
  %strong More:
  = link_to 'Term Frequencies', terms_document_path(@document)
  = link_to 'Full Document Text', text_document_path(@document)
