= render :partial => 'documents/detailheader', :locals => { :document => @document, :title => 'Term Frequencies' }


- num_columns = 4
%table.terms
  %tr
    %th{:colspan => num_columns * 2} Document Terms
  %tr
    - num_columns.times do
      %th Term
      %th Frequency
    - l = (@document.term_vectors.length / num_columns.to_f).ceil
    - @document.term_vectors.sort_by { |k,v| -v[:tf] }.each_slice(l).collect { |a| a += Array.new(l-a.length,nil) if a.length < l; a }.transpose.each do |row|
      %tr
      - row.each do |term|
        %td= "#{term[0]}" if term
        %td.num= "#{term[1][:tf]}" if term
