- title t(:'export.header')

%ul{ 'data-role' => 'listview', 'data-theme' => 'd', 'data-divider-theme' => 'c' }
  %li= link_to t(:'export.refworks'), "http://www.refworks.com/express/ExpressImport.asp?vendor=evoText&filter=RIS%20Format&encoding=65001&url=#{CGI::escape(ris_document_export_url(@document_ids))}", :rel => "external", :target => "RefWorksMain"
  %li= link_to t(:'export.download_format', :dl_format => 'RIS (Reference Manager, EndNote, ProCite, RefWorks)'), ris_document_export_path(@document_ids), :rel => "external"
  %li= link_to t(:'export.download_format', :dl_format => 'Endnote'), endnote_document_export_path(@document_ids), :rel => "external"
  %li= link_to t(:'export.download_format', :dl_format => 'BibTeX'), bibtex_document_export_path(@document_ids), :rel => "external"
  %li= link_to t(:'export.download_format', :dl_format => 'RDF/XML'), rdf_document_export_path(@document_ids), :rel => "external"
  %li= link_to t(:'export.download_format', :dl_format => 'RDF/Turtle'), turtle_document_export_path(@document_ids), :rel => "external"
  %li= link_to t(:'export.download_format', :dl_format => 'MODS'), mods_document_export_path(@document_ids), :rel => "external"
  %li= link_to t(:'export.download_format', :dl_format => 'MARC'), marc_document_export_path(@document_ids), :rel => "external"
  %li= link_to t(:'export.download_format', :dl_format => 'MARCXML'), marcxml_document_export_path(@document_ids), :rel => "external"
