:markdown

  ## Privacy Policy

  ### The short version

   - We use a third party provider to query your account with a third-party
     service, only for two purposes: (1) to ensure that you're logged in, and
     (2) to get your name and your e-mail.
   - We'll ask you to double-check that info when you sign up.
   - The only thing we ever do with your e-mail is send you messages about
     job completion.
   - We never see your password to your third-party account -- we just get
     notification that your login was successful.  No security issues to 
     worry about!

  ### The long, detailed version
  
  Effective 2011/09/08
  
  ### Our commitment to privacy
  
  Your privacy is important to us. To better protect your privacy, we provide 
  this notice explaining our online information practices and the choices you
  can make about the way your information is collected and used. To make this
  notice easy to find, we make it available on our homepage and at every point 
  where personally identifiable information may be requested.
  
  ### The information we collect
  
  This notice applies to all information collected or submitted on the 
  #{APP_CONFIG['app_name']} website. On some pages, you can create datasets, save
  those datasets, analyze them, and register to receive materials. The types of
  personal information collected at these pages are:
  
  - Name 
  - Email address 
  
  ### The way we use information
  
  We use the information you provide about yourself only for two purposes: (1) to
  identify the users which own a given saved dataset, and (2) to send users e-mail
  regarding the completion of deferred jobs.  We do not, nor will we ever, share this
  information with outside parties.
  
  The only e-mail you will ever receive from #{APP_CONFIG['app_name']} is an e-mail
  indicating that a deferred job (an analysis that requires the user to wait until it
  is finished, then return to download the results) has finished and is available for
  download.
  
  You must register with our website in order to save your datasets and perform
  analyses.  Without this registration, we would be unable to know who owned each
  dataset in our system.
  
  We use non-identifying and aggregate information to better design our website. For
  example, we may keep track of the fact that X number of individuals visited a certain
  area on our website, in order to redesign a particular page.  We will not disclose
  this information to any third parties, nor can any portion of it be used to identify
  our users.
  
  Finally, should these terms change, we will never user or share the information you
  provide to us in ways other than the ones outlined above without giving you the
  opportunity to opt-out, cancel your account, or otherwise prohibit such unrelated
  uses.
  
  ### Our commitment to data security
  
  To prevent unauthorized access, maintain data accuracy, and ensure the correct use
  of information, we have put in place appropriate physical, electronic, and managerial 
  procedures to safeguard and secure the information we collect online.
  
  When you log in to #{APP_CONFIG['app_name']}, you log in using an account from another
  provider, such as Google, Facebook, or Twitter.  We *do not receive* your password to
  that account -- only your e-mail address, name, and confirmation that you have
  successfully logged in.  There is, therefore, no way that a malicious attacker could gain
  access to your login account (Google, Facebook, etc.) by compromising our servers.
  
  ### Our commitment to children's privacy
  
  In compliance with government regulations, we never collect or maintain information at
  our website from those we know to be under 13 years of age, and no part of our website
  is structured to attract anyone under 13.
  
  ### How you can access or correct your information
  
  Since we merely retrieve your personally identifiable information from the third party
  that you use to log in to #{APP_CONFIG['app_name']}, if you wish to correct this
  information, please visit that provider's website.
  
  ### How to contact us
  
  Should you have other questions or concerns about these privacy policies, please send 
  us an email at #{APP_CONFIG['app_email']}.

