%head
  %meta{ :charset => "utf-8" }/
  %meta{ :content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }/
  
  %title
    == evoText
    - t = yield(:title)
    = " - #{t}" unless t.blank?
    
  %meta{ :content => "", :name => "description" }/
  %meta{ :content => "", :name => "author" }/
  
  -# Mobile viewport optimized: j.mp/bplateviewport
  %meta{ :content => "width=device-width, initial-scale=1.0", :name => "viewport" }/
  
  -# Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references
  -# %link{ :href => "/favicon.ico", :rel => "shortcut icon" }/
  -# %link{ :href => "/apple-touch-icon.png", :rel => "apple-touch-icon" }/
  
  = render :partial => 'layouts/stylesheets'

  -# Modernizr, JQuery + Mobile, and the stock Rails stuff
  = javascript_include_tag 'modernizr.min'
  
  = javascript_include_tag "http://code.jquery.com/jquery-1.6.min.js"
  = javascript_include_tag "http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"

  = javascript_include_tag 'rails', 'plugins', 'application'
  
  :javascript
    var _gaq=[['_setAccount','#{APP_CONFIG['google_account_id']}'],['_trackPageview']];(function(d,t){
    var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.async=1;g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)
    }(document,'script'))
  
  :javascript
    $('[data-role=page]').live('pageshow', function (event, ui) {
      try {
        if (location.hash){url = location.hash;}else{url='index';}
        _gaq.push(['_trackPageview',url]);
      } catch (error) {}
    });
  
  = csrf_meta_tag
