%head
  %meta{ :charset => "utf-8" }/
  
  - title = APP_CONFIG['app_name'].dup
  - title << " - #{yield(:title)}" if content_for? :title
  %title= title
  
  %meta{ :content => APP_CONFIG['app_description'], :name => "description" }/
  %meta{ :content => APP_CONFIG['app_author'], :name => "author" }/
  
  -# Mobile optimized meta tags for various browsers
  %meta{ :name => 'HandheldFriendly', :content => 'True' }/
  %meta{ :name => 'MobileOptimized', :content => 320 }/
  %meta{ :name => 'viewport', :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0" }/
  %meta{ 'http-equiv' => 'cleartype', :content => 'on' }/
  
  -# Act like a web app on iOS
  %meta{ :name => 'apple-mobile-web-app-capable', :content => 'yes' }/
  %meta{ :name => 'apple-mobile-web-app-status-bar-style', :content => 'black' }/
  %link{ :href => 'images/l/splash.png', :rel => 'apple-touch-startup-image' }/
  
  -# Home screen icons (Retina iPhone, iPad, all others/Android)
  %link{ :href => "/images/h/apple-touch-icon.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114" }/
  %link{ :href => "/images/m/apple-touch-icon.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72" }/
  %link{ :href => "/images/l/apple-touch-icon.png", :rel => "apple-touch-icon-precomposed" }/
  %link{ :href => "/favicon.ico", :rel => "shortcut icon" }/
  
  = render :partial => 'layouts/stylesheets'
  
  -# Link up the unAPI service
  %link{ :rel => 'unapi-server', :type => 'application/xml', :title => 'unAPI', :href => unapi_url }
  
  -# HTML5 and CSS3
  = javascript_include_tag 'modernizr.min'
  /[if lt IE 9]
    = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = javascript_include_tag "http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"
  
  -# JQuery + Mobile and the stock Rails stuff
  = javascript_include_tag "http://code.jquery.com/jquery-1.6.min.js"
  = javascript_include_tag "http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"

  = javascript_include_tag 'rails', 'plugins', 'application'
  
  :javascript
    var _gaq=[['_setAccount','#{APP_CONFIG['google_account_id']}'],['_trackPageview']];(function(d,t){
    var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.async=1;g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)
    }(document,'script'))
  
  :javascript
    $('[data-role=page]').live('pageshow', function (event, ui) {
      try {
        if (location.hash){url = location.hash;}else{url='index';}
        _gaq.push(['_trackPageview',url]);
      } catch (error) {}
    });
  
  = csrf_meta_tag
