%head
  %meta{ :charset => 'utf-8' }/
  
  %title= APP_CONFIG['app_name']
  
  = stylesheet_link_tag 'application'
  = javascript_include_tag 'application'
  = csrf_meta_tags
  
  -# Mobile optimized meta tags for various browsers
  %meta{ :name => 'HandheldFriendly', :content => 'True' }/
  %meta{ :name => 'MobileOptimized', :content => 320 }/
  %meta{ :name => 'viewport', :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0" }/
  %meta{ 'http-equiv' => 'cleartype', :content => 'on' }/
  
  = content_for :head_tags