= javascript_include_tag "//www.google.com/jsapi?key=#{APP_CONFIG['google_api_key']}"
:javascript
  google.load('jquery', '1.5.1');
  google.load('jqueryui', '1.8');

-# Fallback for local jQuery and jQuery UI
:javascript
  !window.jQuery && document.write(unescape('%3Cscript src="/javascripts/jquery.min.js"%3E%3C/script%3E'))
  !window.jQuery.ui && document.write(unescape('%3Cscript src="/javascripts/jquery-ui.min.js"%3E%3C/script%3E'))

-# Add jQuery plugins right here after jQuery loads
= javascript_include_tag "http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"
= javascript_include_tag "/javascripts/jquery.qtip-1.0.0-rc3.min.js"
  
= javascript_include_tag 'rails', 'plugins', 'application'

-# Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb
/[if lt IE 7 ]
  = javascript_include_tag 'dd_belatedpng.js'
  :javascript
    //DD_belatedPNG.fix('img, .png_bg');
    
-#  Append your own using content_for :javascripts
= yield :javascripts

:javascript
  var _gaq = [['_setAccount', '#{APP_CONFIG['google_account_id']}'], ['_trackPageview']];
  (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
  })(document, 'script');