.searchbar
  = form_tag(documents_path, :method => "get") do
    - if params[:fq]
      - params[:fq].each do |p|
        = hidden_field_tag "fq[]", p
    = label_tag(:q, "Search evoText")
    = text_field_tag :q, (params[:precise] ? "(advanced search)" : params[:q])
    = search_button_submit_tag "Search"
  %small
    = link_to 'Advanced Search', search_documents_path
