.searchbar
  = form_tag(documents_path, :method => "get") do
    = label_tag(:q, "Search evoText")
    = text_field_tag :q
    = content_tag(:button, :type => :submit, :class => "button") do
      %span.magnifier.icon><
      Search
  %small
    = link_to 'Advanced Search', search_documents_path

.clearboth
