!!! 5
- ie_html :class => 'no-js' do
  = render :partial => 'layouts/head'
  %body{ :lang => 'en', :class => "#{controller.controller_name}" }
    %div{ 'data-role' => 'page', 'data-theme' => 'c' }
      %header#header{ 'data-role' => 'header', 'data-backbtn' => 'false' }
        = render :partial => 'layouts/header'
      #main{ :role => 'main', 'data-role' => 'content' }
        = render :partial => 'layouts/flashes'
        = yield
        
        %small
          Copyright &copy; 2011 evoText Project
          - if instance_variable_defined? :@query_time
            %br
            Executed Solr query in 
            = @query_time
            seconds
        
      = render :partial => 'layouts/footer'
    = render :partial => 'layouts/javascripts'
