!!! 5
%html
  %head
    %title RLetters
    
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    
    -# Mobile optimized meta tags for various browsers
    %meta{ :name => 'HandheldFriendly', :content => 'True' }/
    %meta{ :name => 'MobileOptimized', :content => 320 }/
    %meta{ :name => 'viewport', :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0" }/
    %meta{ 'http-equiv' => 'cleartype', :content => 'on' }/
  %body
    %div{ 'data-role' => 'page', 'data-add-back-btn' => 'true' }
      %div{ 'data-role' => 'header' }
        %h1 evoText
        %a.ui-btn-right{ :href => '#', 'data-icon' => :info } Help
      
      %div{ 'data-role' => 'content' }
        = yield
      
      = render :partial => 'layouts/footer'

